
@{
    ViewBag.Title = "loadGridNew";
}

<h2>loadGridNew</h2>
@model Tuple<CampusSecurity.Models.SearchViewModel, CampusSecurity.Models.Discipline>
<table>
    <tr>
        @for (int itr = 0; itr < @ViewBag.NbColumns; itr++)
        {
            <th>@ViewBag.Tlist[itr]</th>
        }
    </tr>

    @foreach (var item in Model.Item1.generalList)
            {
                if (ViewBag.Class_Type == 4)
                {
                    var convertedObject = (CampusSecurity.Models.VAWA)item;

            <tr>
                @foreach (string x in ViewBag.Tlist)
                {
                    if (x == "id")
                    {
                        <td>@convertedObject.Id</td>
                    }
                    else if (x == "stalk")
                    {
                        <td>@convertedObject.stalking</td>
                    }
                    else if (x == "dating")
                    {
                        <td>@convertedObject.dating_violence</td>
                    }
                    else
                    {
                        <td>@convertedObject.domestic_violence</td>
                    }
                }
            </tr>
        }

        if (ViewBag.Class_Type == 3)
        {
            var convertedObject = (CampusSecurity.Models.Criminal_Offense)item;

            <tr>
                @foreach (string x in ViewBag.Tlist)
                {
                    if (x == "id")
                    {
                        <td>@convertedObject.Id</td>
                    }
                    else if (x == "burgla")
                    {
                        <td>@convertedObject.Burgla</td>
                    }
                    else if (x == "murd")
                    {
                        <td>@convertedObject.Murd</td>
                    }
                    else if (x == "vehic")
                    {
                        <td>@convertedObject.Vehic</td>
                    }
                    else if (x == "neg_m")
                    {
                        <td>@convertedObject.Neg_m</td>
                    }
                    else if (x == "forcib")
                    {
                        <td>@convertedObject.Forcib</td>
                    }
                    else if (x == "nonfor")
                    {
                        <td>@convertedObject.Nonfor</td>
                    }
                    else if (x == "agg_a")
                    {
                        <td>@convertedObject.Agg_a</td>
                    }
                    else if (x == "arson")
                    {
                        <td>@convertedObject.Arson</td>
                    }
                }
                }
            </tr>
        }

        if (ViewBag.Class_Type == 2)
        {
            var convertedObject = (CampusSecurity.Models.Arrests)item;

            <tr>
                @foreach (string x in ViewBag.Tlist)
                {
                    if (x == "id")
                    {
                        <td>@convertedObject.Id</td>
                    }
                    else if (x == "drug")
                    {
                        <td>@convertedObject.Drug</td>
                    }
                    else if (x == "weapon")
                    {
                        <td>@convertedObject.Weapon</td>
                    }
                    else
                    {
                        <td>@convertedObject.Liquor</td>
                    }
                }
            </tr>
        }

        if (ViewBag.Class_Type == 1)
        {
            //@model CampusSecurity.Models.Discipline
            //Console.WriteLine(Model.Item2.Drug);
            var convertedObject = (CampusSecurity.Models.Discipline)item;
            <tr>
                @foreach (string x in ViewBag.Tlist)
                {
                    if (x == "id")
                    {
                        <td>@convertedObject.Id</td>
                    }
                    else if (x == "drug")
                    {
                        <td>@convertedObject.Drug</td>
                    }
                    else if (x == "weapon")
                    {
                        <td>@convertedObject.Weapon</td>
                    }
                    else
                    {
                        <td>@convertedObject.Liquor</td>
                    }
                }
            </tr>

        }

    }

</table>